/* Checkout.css */
.checkout-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.checkout-form {
    display: flex;
    flex-direction: column;
}

.checkout-form .form-group {
    margin-bottom: 15px;
}

.checkout-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.checkout-form .form-group input,
.checkout-form .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkout-form h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.checkout-form ul {
    list-style-type: none;
    padding: 0;
}

.checkout-form ul li {
    margin-bottom: 5px;
}

.order-details {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.credit-card-info {
    margin-top: 20px;
}

.payment-method label {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.payment-logo {
    width: 50px;
    margin-left: 10px;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
