.section {
    margin: 40px 0;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.categories, .testimonials {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.testimonial-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.category-card i {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.category-card i {
    font-size: 3em;
    color: #007bff;
}

.category-card {
    text-decoration: none;
    color: inherit;
}

.testimonial-card p {
    font-style: italic;
}

.home-container {
    padding: 20px;
    text-align: center;
}

.banner {
    position: relative;
    background: url('https://th.bing.com/th/id/OIG1.AwQRwMtmKooGK4tOW9i0?pid=ImgGn') no-repeat center center;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.banner .btn {
    font-size: 1.2em;
    padding: 10px 20px;
}